{{#each file}}
  <p>Title: <a href="{{location}}">{{title}}</a><br/>
  Description: {{description}}<br/>
  <button class="btn btn-primary btn-md update-file" data-toggle="modal" data-target="#updateFileModal" data-id="{{_id}}">Update</button>
  <button type="button" class="btn btn-primary btn-md delete-file" data-id="{{_id}}" id="delete-file">Delete</button>
{{/each}}
