
  <td><a href="{{file.location}}" target="_blank">{{file.title}}</a></td>
  <td>{{file.description}}</td>
  <td><button class="btn btn-primary btn-md update-file" data-toggle="modal" data-target="#updateFileModal" data-id="{{file._id}}">Update</button></td>
  <td><button class="btn btn-primary btn-md delete-file" data-toggle="modal" data-target="#deleteFileModal" data-id="{{file._id}}" id="delete-file">Delete</button></td>
